<app-app-header></app-app-header>

<div class='container'>
<app-form class="userinput_section" (onSubmit)="getgraphdata()"></app-form>

<app-total-score *ngIf='graphData' [graphData]='graphData.totalScore' class="totalScore_section">
    <h2>Total Score</h2>
</app-total-score>
<app-quant-score *ngIf='graphData' [graphData]='graphData.quantScore' class="quantScore_section">
    <h4>Quant Score</h4>
</app-quant-score>
<app-verbal-score *ngIf='graphData' [graphData]='graphData.verbalScore' class="verbalScore_section">
    <h4>Verbal Score</h4>
</app-verbal-score>

</div>